<div class="clearfix" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="xq_nav">
        <span style="font-weight: bold;">|</span>
        <span>文件管理</span>
    </div>
    <div class="xq_nav">
        <table id="spgl"></table>
    </div>
</div>

<!--<div class="clearfix">-->
<!--    <div class="xq_nav">-->
<!--        <span style="font-weight: bold;">|</span>-->
<!--        <span>上传文件管理</span>-->
<!--    </div>-->
<!--    <div class="xq_nav">-->
<!--        <table id="docId"></table>-->
<!--    </div>-->
<!--</div>-->

<div class="xq_nav" xmlns:th="http://www.w3.org/1999/xhtml" >
    <span style="font-weight: bold;">|</span>
    <span>文件上传</span>
    <form id="upload" action="/fileUpload" method="post" enctype="multipart/form-data" target="#message"
          onsubmit="return checkFile('#upload','mp4或jpg或png')">
        <input type="file" name="file" style="float: left;"/>
        <input name="lx" th:value="${lx}" style="display:none;">
        <input type="submit" class="btn btn-info" value="文件上传"/>
    </form>
    <label id="message"></label>
</div>

<!--<div class="xq_nav">-->
<!--    <span style="font-weight: bold;">|</span>-->
<!--    <span>文件导入</span>-->
<!--    <form id="upload_wd" action="/fileUpload" method="post" enctype="multipart/form-data">-->
<!--        <input type="file" name="file" style="float: left;"/>-->
<!--        <input name="lx" style="display: none;" th:value="">-->
<!--        <input type="submit" class="btn btn-info" value="文件导入"/>-->
<!--    </form>-->
<!--    <label id="message_wd"></label>-->
<!--</div>-->
<script>
    $(function () {

        // $('#upload_wd').submit(function () {
        //     if (checkFile("#upload_wd","doc或docx")==true){
        //         $(this).ajaxSubmit(function (message) {
        //             $('#message_wd').html(message);
        //             $("#docId").datagrid('reload');
        //         });
        //     }
        //     return false;
        // });

        var tablewidth = document.documentElement.clientWidth - 260;
        $('#spgl').datagrid({
            width: tablewidth,
            nowrap: true,
            height: 'auto',
            singleSelect: true,
            striped: true,
            scrollbarSize: 0,
            rownumbers: true,
            url: "getSp?lx="+$("input[name='lx']").val(),
            loadMsg: "数据正在加载.....",
            pagination: true,
            pageList: [5, 10, 15, 20, 50],
            pageSize: 20,
            columns: [
                [
                    {field: 'wjm', title: '文件名', width: tablewidth * 0.31, align: 'center'},
                    {
                        field: 'zt', title: '是否播放', width: tablewidth * 0.302,
                        align: 'center',
                        formatter: function (value,record) {
                            if(value=='0'){
                                return '<img style="width: 30px" data-url="'+record.id+'" class="icon" ' +
                                    'onclick="changezt(this)" ' +
                                    'src="../../static/image/off.png"/>';
                            }else {
                                return '<img style="width: 30px;" data-url="'+record.id+'" ' +
                                    'class="icon" onclick="changezt(this)"'  +
                                    ' src="../../static/image/on.png"/>'
                            }
                        }
                    },
                    {
                        field:'id',title:'操作',width:tablewidth*0.35,align:'center',
                        formatter:function (value) {
                            return '<image class="icon" data-toggle="tooltip" ' +
                                'data-placement="bottom" data-url="'+value+'" ' +
                                'title="删除文件"' +
                                ' onclick="deleteSp(this)" src="../../static/image/fail.png"/>'
                        }
                    }
                ]
            ]
        });

        $('#docId').datagrid({
            width: tablewidth,
            nowrap: true,
            height: 'auto',
            singleSelect: true,
            striped: true,
            scrollbarSize: 0,
            rownumbers: true,
            url: "getAllDoc",
            loadMsg: "数据正在加载.....",
            pagination: true,
            pageList: [5, 10, 15, 20, 50],
            pageSize: 20,
            columns: [
                [
                    {field: 'wjm', title: '文档文件名', width: tablewidth * 0.31, align: 'center'},
                    {
                        field: 'zt', title: '是否播放', width: tablewidth * 0.302,
                        align: 'center',
                        formatter: function (value,record) {
                            if(value=='0'){
                                return '<img style="width: 30px" data-url="'+record.id+'" class="icon" ' +
                                    'onclick="changezt(this)" ' +
                                    'src="../../static/image/off.png"/>';
                            }else {
                                return '<img style="width: 30px;" data-url="'+record.id+'" ' +
                                    'class="icon" onclick="changezt(this)"'  +
                                    ' src="../../static/image/on.png"/>'
                            }
                        }
                    },
                    {
                        field:'id',title:'操作',width:tablewidth*0.35,align:'center',
                        formatter:function (value) {
                            return '<image class="icon" data-toggle="tooltip" ' +
                                'data-placement="bottom" data-url="'+value+'" ' +
                                'title="删除文档"' +
                                ' onclick="deleteSp(this)" src="../../static/image/fail.png"/>'
                        }
                    }
                ]
            ]
        });
    });
    function changezt(obj) {
        var src = $(obj)[0].src;
        var id = $(obj).data('url');
        var zt = 0;
        // var baseurl = 'http://130.4.1.49:8081/static/image/on.png'
        var baseurl = 'http://localhost:8081/static/image/on.png'
        if(src ==baseurl){
            $(obj)[0].src = '../../static/image/off.png';
            zt = 0;
        }else {
            $(obj)[0].src = '../../static/image/on.png';
            zt = 1;
        }
        //更新
        $.ajax({
            url:'UpdateWjb',
            type:'post',
            data:{
                id:id,
                zt:zt
            },success:function () {
                $.messager.show({
                    title:'提示信息',
                    msg:'控制信息已更新'
                });
                $('#spgl').datagrid('reload');
                $('#docId').datagrid('reload');
            }
        })
    }

    function deleteSp(obj) {
        var id = $(obj).data('url');
        $.ajax({
            url:'deleteSp',
            type:'post',
            data:{
                id:parseInt(id)
            },
            success:function () {
                $('#spgl').datagrid('reload');
                $('#docId').datagrid('reload');
            }
        })
    }
</script>